/* Form setup */
div#uek-main-block-lists > form {
    padding: 0 20px 20px 0;
}

div#uek-main-block-lists button {
	margin: 5px;
}	

button#uek-lists-import label {
	cursor: pointer;
}

div#uek-lists-overview {
    width: 50%;
    padding: 0 20px 20px 0;
    float: left;
}

div#uek-lists-options {
    width: 50%;
    padding-bottom: 20px;
    float: left;
}

div#uek-lists-selected-story {
    width: 100%;
    padding-bottom: 20px;
}

img#uek-lists-thumbnail {
    padding: 0;
    width: 100%;
    border: 5px solid #c8aa6e;
    border-radius: 5px;
	outline: 5px solid #c8aa6e;
	outline-offset: -15px;
}

h3#uek-lists-title {
    font-family: Beaufort for LOL, Arial, sans-serif;
    font-weight: 700;
    color: #f0e6d2;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
	float: left;
    top: 44px;
    left: 24px;
	padding-right: 44px;
	text-align: left;
    text-align-last: center;
}

div#uek-lists-progress {
    float: left;
    background-color: #5b5a564d;
    width: 100%;
    margin: 20px 0;
}

div#uek-lists-progress > div {
    text-align: center;
    background-color: #c8aa6e;
}


#uek-lists-dragelement  {
    opacity: 0.5;
}

/* Table */

thead#uek-lists-table-heading {
	padding: 0 20px;
}

thead#uek-lists-table-heading th {
	height: 2em;
}

tbody#uek-lists-table-body {
    width: 100%;
    padding: 0;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

tbody#uek-lists-table-body > tr, thead#uek-lists-table-heading > tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody#uek-lists-table-body > tr {
    border: 2px outset #262626 !important;
} 

tbody#uek-lists-table-body td {
    padding: 5px;
    width: 50px;
    text-align: center;
} // TD + TD usw