div#uek-main-block-options input[type=number] {
    width: 100px;
    position: relative;
    right: 10%;
    float: right;
}

form#uek-options-form > div {
    float: left;
    width: 33%;
    padding: 10px 20px 20px 0;
}

div#uek-main-block-options label, p {
    line-height: 2em;
}

