/* Used in the popup, be precise so it doesn't break anything 
    on the universe page where the same stylesheet is loaded.
    Use id instead of classes whenever possible.*/
html#min-size {
     min-height: 150px; 
     min-width:400px;
}

h1#center {
    text-align: center;
}

a.link:link {
    color: #0000EE;
}

a.link:visited {
    color: #0000EE;
}

/* Used on the Universe page to show/hide stuff we need as well as customize our UI. 
    Most of this needs the !important tag to override Riots settings.*/
.hidden {
    display: none !important;
}

#uek-base-wrapper {
    position: fixed;
    z-index: 8000;
    left: -500px;
    top: 150px;
    height: 70%;
    width: auto;
    
    font-family: Spiegel, Helvetica, sans-serif;
    color: #a09a8e;
}

#uek-base-wrapper.open {
    left: 10px;
}

#uek-main-page {
    float: left;
    width: 500px;
    height: 100%;
    background-color: #111111;
    border: 2px solid #c9aa71;
}

#uek-base-toggle {
    float: right;
    width: 30px;
    height: 100%;
}

#uek-toggle-link {
    position: absolute;
    width: 30px;
    height: 70px;
    top: 50%;
    right: 0;
}

#uek-toggle-link > img {
    width: 20px;
    height: 60px;
    margin: 5px;
}

#uek-main-header {
    padding: 10px 10px 0 10px;
    border-bottom: 2px dotted #262626;
}

#uek-main-header > a {
    color: #d6bd8f;
    margin: 0 10px;
}

#uek-main-header > a.activeTab {
    color: white;
    border-bottom: 2px solid #c79a3c;
}

#uek-main-header > a.title {
    color: #f0e6d2;

}

/*Same style as other separators, but we can't use them for this so we just copy it */
#uek-custom-separator {
    border-left: 2px solid #262626;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    margin: -5px 0.25em 5px 0.25em;
    vertical-align: top;
}