/* Used in the popup, be precise so it doesn't break anything 
    on the universe page where the same stylesheet is loaded.
    Use id instead of classes whenever possible.*/
html#min-size {
     min-height: 150px; 
     min-width:400px;
}

h1#center {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a.link:link {
    color: #0000EE;
}

a.link:visited {
    color: #0000EE;
}

/* Used on the Universe page to show/hide stuff we need as well as customize our UI. 
    Most of this needs the !important tag to override Riots settings.*/
.hidden {
    display: none !important;
}

div.header {
    border-bottom: 2px dashed #262626 !important;
}
