/* Used in the popup, be precise so it doesn't break anything 
    on the universe page where the same stylesheet is loaded.
    Use id instead of classes whenever possible.*/
html#min-size {
     min-height: 150px; 
     min-width:400px;
}

h1#center {
    text-align: center;
}

a.link:link {
    color: #0000EE;
}

a.link:visited {
    color: #0000EE;
}

/* Used on the Universe page to show/hide stuff we need as well as customize our UI. 
    Most of this needs the !important tag to override Riots settings.*/
.hidden {
    display: none !important;
}

div#uek-base-wrapper {
    position: fixed;
    z-index: 8000;
    left: 10px;
    top: 150px;
    height: 70%;
    width: auto;
    
    font-family: Spiegel, Helvetica, sans-serif;
    color: #a09a8e;
}

div#uek-base-toggle {
    float: right;
    width: 30px;
    height: 100%;
}

a#uek-toggle-link {
    position: absolute;
    width: 30px;
    height: 70px;
    top: 50%;
    right: 0;
}

a#uek-toggle-link > img {
    width: 20px;
    height: 60px;
    margin: 5px;
}

div#uek-main-page {
    float: left;
    height: 100%;
    background-color: #111111;
    border: 2px solid #c9aa71;
}

div#uek-main-header {
    margin: 10px 25px 0 25px;
    border-bottom: 2px dotted #262626;
    height: 40px:
}

div#uek-main-header > a {
    color: #d6bd8f;
    margin: 0 10px
}

div#uek-main-header > a.activeTab {
    color: white;
    border-bottom: 2px solid #c79a3c;
}

div#uek-main-header > a.title {
    color: #f0e6d2;

}

div#uek-main-body {
    height: 95%;
}

form#uek-stories-filter {
    padding: 20px;
    line-height: 1.3;
}

form#uek-stories-filter > button {
    margin: 20px 20px 10px 20px;
    height: 28px;
    width: 100px;
    color: #a09b8c;
    border: none;
    padding: 0;
    cursor: pointer;
}

form#uek-stories-filter input, form#uek-stories-filter select {
    background-color: #161616;
    color: #937341;
    border: 2px outset #a09a8e;
    margin: 5px;
}

button > div > div {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
    display: inline-block;
}

button > div > h6 {
    background-color: #1e2328;
    border: 2px solid #3c3c41;
    border-right: none;
    height: 28px;
    width: 72px;
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    padding: 6px;
    overflow: hidden;
    text-transform: capitalize;
}

#uek-filter-apply > div > div {
    background-color: #be1e37; 
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAi0lEQVR4AWP48OzSf1rgATH4GxC/p4HBFx9+enpG5P2zi5OA+CdVDWaAgg+PrqgA+euobDACfHxy2er900vHqWgwAvz//5/xw9OLkcDguU1NgxEWXLnC9v7ZpWJQBNPEYKDL31IvKJ5fCqNqUHx8cdECFHlUT27vn178R7UMAmT3gzLIoMnSQ690AwAEAXOq7/wRugAAAABJRU5ErkJggg==");
}

#uek-filter-reset > div > div {
    background-color: #770a59;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAXklEQVR4AWP48OzSf1rgIW7wuxcXdT88vCSIC+NTC+LjNvjpFTkG3ACvWhB/IAweNRiBDwPxblyYgNrDwyiDfHh6qQJIp5GDQXrxRx6ZAKR32BiMKFhIwIQLodGCHgC76b0GDP1lTgAAAABJRU5ErkJggg==");
}

#uek-filter-save > div > div {
    background-color: #1e825a;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAABW0lEQVR4AWJABoB2ygAiuiCKwvP/BKEIFQBCAAQECgAgIQuACAJohQgIAUgA2FWwAALAirAALbYd+97LAxtARanpfAyuYbReQLoc786953y7MFMUxa50NZlMttyMhZcM2RR2MhqNFqKppXNA6u/1PfTeL6YwZuykofG32MGC6eLwqSzLI2mfsxG7Z+nUxaJnlvrIwoDF2SWQd3s2874B9+0ul3WpoSkY5cDnUvcH4C6MFEy4LbWagsnC+G3gP7BuzgbXtAF4SDYHPiMYQvinfluza+ktB2aHh0eIDDsYuZt3p+XeYDCYi8ZV6VjqGHCHmfd+hTNeMmTTm7cp9bT8MP/+UWpXVbXkMsUOD16Tg9GDaY1rGlxo+WJfNn0v9V13seiZJS/cKzMYLlfj8Xg5Po1T8wOf+t4gejOf4iXjZq26rucVOpAegFgxY4fHNa0Qwn9BdqRbRM/su9wX9XqHXXm8ARwAAAAASUVORK5CYII=");
}

/* Table body below */
tbody#uek-stories-table-body {
    display: block;
    overflow-y: scroll;
    padding-left: 20px;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody#uek-stories-table-body > tr {
  border: 2px outset #262626 !important;
} 

td {
    width: 50px;
    text-align: center;
}

td + td {
    width: 20%;
    text-align: left;
}

td + td + td {
    width: 60px;
    text-align: center;
}

td + td + td + td {
    width: auto;
    text-align: left;
}

td + td + td + td + td + td + td {
    width: 80px;
    text-align: right;
}

/* Table Header and Footer  below*/

tfoot {
    display: none;
}

thead {
    padding-left: 20px;
}

th {
    width: 50px;
    text-align: right;
}

th + th {
    width: 20%;
    text-align: center;
}

th + th + th {
    width: 60px;
    text-align: center;
}

th + th + th + th {
    width: auto;
    text-align: center;
}

th + th + th + th + th + th + th {
    width: 80px;
    text-align: center;
}


/*Same style as other separators, but we can't use them here (inheritance) so we just copy it */
.uek-custom-separator {
    border-left: 2px solid #262626;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    margin: -5px 0.25em 5px 0.25em;
    vertical-align: top;
}